name: MLFlow CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r src/requirements.txt

    - name: Run ML training and log to MLFlow
      run: |
        python src/train.py

    - name: Build Docker image
      run: |
        docker build -t ml-ci-cd-github .

    - name: Push Docker image to Docker Hub
      run: |
        echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        docker tag ml-ci-cd-github $DOCKER_USERNAME/ml-ci-cd-github
        docker push $DOCKER_USERNAME/ml-ci-cd-github
      env:
        DOCKER_USERNAME: vicky84263
        DOCKER_PASSWORD: Vicky@852
